.container{
    width: 70%;
    display: flex;
    margin-top: 85px;
    justify-content: space-around;
}
.pago_daviplata{
    width: 150px;
}

.container_pagoDaviplata{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.numero_daviplata{
    font-family: 'Inter', sans-serif;
    font-size: large;
}
.numero_Nequi{
    font-family: 'Inter', sans-serif;
    font-size: large;
}
.pago_nequi{
    width: 150px;
}

.container_pagoNequi{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.container_pagoNequi{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.explicacionPago{
    font-family: 'Inter', sans-serif;
    font-size: large;
}

.subir_comprobante{
    font-family: 'Inter', sans-serif;
    width: 80px;
    margin: auto;
    border-radius: 10px;
    padding: 5px 15px;
}