.image_producto{
    width: 388px;
    height: 527;
}

.image_ventas{
    width: 550px;
    height: 540;
}

.container{
    width: 100%;
    display: flex;
    margin-top: 85px;
    justify-content: space-around;
    align-items: center;
}


.container_products{
    width: 200px;
    display: flex;
    flex-direction: column;
}

.container_sell{
    width: 200px;
    display: flex;
    flex-direction: column;
}

.button_products{
    
    font-family: 'Inter', sans-serif;
    color:white;
    margin: auto;
    border-radius: 5px;
    padding: 5px 0px;
    width: 100px;
    background: #854884;
    box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    }
.button_ventas{
    font-family: 'Inter', sans-serif;
    color:white;
    margin: auto;
    border-radius: 5px;
    padding: 5px 0px;
    width: 100px;
    background: #854884;
    box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

}