.main_container-ci{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;


}

.container_btn-ci{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
}

